<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>MY PROFILE</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="upper">
    <div class="bkgrnd" [ngStyle]="{'background-image':'url(' + user?.coverPhoto.src + ')'}">
    </div>
    <div class="profile-img" [ngStyle]="{'background-image':'url(' + user?.photo.src + ')'}"></div>
    <h2>{{ user?.fullName }}</h2>
    <h4>{{ user?.alias }}</h4>
  </div>
  <div class="photo-info">
    <h1>MY HOCKEY PHOTOS</h1>
  </div>
  <h2 class="photo-instruction">
    Take & upload photos of your Hockey Player in action! Then SHARE!
  </h2>
  <button ion-button clear class="take-photo" (click)="takePhoto()">
    <img src="assets/img/profile-photo/camera_icon.png" height="48">
  </button>

  <div class="photos-container" *ngIf="!!photos && photos.length > 0">
    <div class="inner-container">
      <!--<h2 class="no-photo">No photos just yet.</h2>-->
      <img *ngFor="let photo of photos" class="photo" src="" alt=""
        [ngStyle]="{'background-image':'url(' + photo.url + ')', 'border': isSelected(photo) ? '3px solid #3CACDE' : 'none'}"
        (click)="viewPhoto(photo)">
    </div>
  </div>

  <!--<div class="submit-container" padding>-->
  <!--<button ion-button clear (click)="submit()" [disabled]="!imageBlob">-->
  <!--<img src="assets/img/profile-card/save_button.png" alt="">-->
  <!--</button>-->
  <!--</div>-->
  <div class="social-container">
    <social [hasFollow]="false" [hasRate]="false" [shareTitle]="'SHARE A SHOT!'" [photosArray]="photosArray"></social>
  </div>
  <banner [ref]="'banners/profile'"></banner>
</ion-content>