page-profile-photos {
  font-family: gillsansmt;
  .upper {
    position: relative;
    padding-top: 168px;
    .bkgrnd {
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 240px;
      z-index: -1;
    }
    .profile-img {
      display: block;
      margin: 0 auto;
      width: 108px;
      height: 108px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    h2,
    h4 {
      margin-bottom: 8px;
      text-align: center;
      color: #333333;
    }
    h2 {
      color: #3cacde;
    }
    h4 {
      margin: 0;
    }
  }
  .photo-info {
    h1 {
      background-color: #3cacde;
      color: #addcf8;
      margin-top: 16px;
      padding: 8px 16px 8px 16px;
      text-align: center;
    }
  }
  .photo-instruction {
    font-family: architectsdaughter;
    font-size: 20px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.4;
  }
  .take-photo {
    height: auto;
    display: block;
    margin: 0 auto;
    img {
      display: block;
      margin: 0 auto;
    }
    margin-bottom: 16px;
  }
  .photos-container {
    background-color: #3cacde;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    .inner-container {
      background-color: #666;
      padding: 4px;
      .no-photo {
        text-align: center;
        color: #fff;
        margin-top: 16px;
        margin-bottom: 16px;
      }
      .photo {
        margin: 2px;
        width: 75px;
        height: 75px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .submit-container {
    button {
      max-width: 200px;
      height: auto !important;
      margin: 0 auto;
      padding: 0;
      display: block;
    }
  }
  .social-container {
    margin-bottom: 16px;
  }
}
