<ion-header [ngStyle]="{'margin-top': hasToolBar == false ? '-100px' : '0'}">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goSearch()">
        <ion-icon name="arrow-back" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>RINK INFO</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [fullscreen]="hasToolBar">
  <div class="upper">
    <button ion-button clear [disabled]="!uid" (click)="setRinkAsFavorite()">
      <favorite [toggle]="isFavorite"></favorite>
    </button>
    <h4 class="rink-name">{{ rink.name | rinkname }}</h4>
    <h4>{{ rink.address }}</h4>
    <h4>{{ rink?.city }}, {{ rink?.state }}</h4>
    <h3 class="overall-rating">
      Overall Rating:
      <img #star1 src="assets/img/common/rink_info_puck_rating.png">
      <img #star2 src="assets/img/common/rink_info_puck_rating.png">
      <img #star3 src="assets/img/common/rink_info_puck_rating.png">
      <img #star4 src="assets/img/common/rink_info_puck_rating.png">
      <img #star5 src="assets/img/common/rink_info_puck_rating.png">
    </h3>
    <p *ngIf="reviewCounts">{{ reviewCounts > 1 ? reviewCounts + ' Reviews' : '1 Review' }}</p>
    <p *ngIf="!reviewCounts">Be the First to Review this Rink!</p>
  </div>
  <ion-grid class="actions">
    <ion-row>
      <ion-col width-25 style="border-right: 1px solid #666">
        <button ion-button clear (click)="call()" [disabled]="!rink.phone">
          <img src="assets/img/rink-info/rink_info_call_icon.png" height="48">
        </button>
        <p>CALL</p>
      </ion-col>
      <ion-col width-25 style="border-right: 1px solid #666">
        <button ion-button clear (click)="web()" [disabled]="!rink.website">
          <img src="assets/img/rink-info/rink_info_web_icon.png" height="48">
        </button>
        <p>WEB</p>
      </ion-col>
      <ion-col width-25 style="border-right: 1px solid #666">
        <button ion-button clear (click)="onInAppBrowser(rink?.$key)">
          <img src="assets/img/rink-info/rink_info_info_icon.png" height="48">
        </button>
        <p>INFO</p>
      </ion-col>
      <ion-col width-25>
        <button ion-button clear (click)="map()">
          <img src="assets/img/rink-info/rink_info_map_icon.png" height="48">
        </button>
        <p>MAP</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <banner [ref]="'banners/rinkInfo/top'"></banner>
  <div class="button-container">
    <button ion-button clear (click)="goReview()">
      <img src="assets/img/common/rink_info_add_review_button.png" alt="">
    </button>
  </div>
  <div #reviewCategories>
    <review-categories [rink]="rink"></review-categories>
    <banner [ref]="'banners/rinkInfo/bottom'"></banner>
  </div>
</ion-content>