page-rink-info {
  ion-header {
    -moz-transition: all 0.5s ease-out; /* FF4+ */
    -o-transition: all 0.5s ease-out; /* Opera 10.5+ */
    -webkit-transition: all 0.5s ease-out; /* Saf3.2+, Chrome */
    -ms-transition: all 0.5s ease-out; /* IE10 */
    transition: all 0.5s ease-out;
  }
  font-family: gillsansmt;
  .upper {
    position: relative;
    background: url("../assets/img/common/rink_info_background.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 16px;
    padding-bottom: 16px;
    button {
      position: absolute;
      top: 4px;
      right: 8px;
      height: auto;
      margin: 0;
      padding: 0;
      img {
        display: block;
        margin: 0 auto;
        opacity: 0.5;
      }
    }
    h3,
    h4,
    h5 {
      padding-left: 16px;
      padding-right: 16px;
      margin: 0;
      color: #343432;
      text-align: center;
      img {
        vertical-align: middle;
        opacity: 0.5;
        width: 28px;
        height: 24px;
        @media only screen and (max-device-width: 320px) and (orientation: portrait) {
          width: 24px;
          height: 20px;
        }
      }
    }
    h3 {
      font-size: 1.8rem !important;
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
    .overall-rating {
      color: #707173;
    }
    p {
      color: #343432;
      margin: 0;
      margin-top: 8px;
      text-align: center;
    }
  }
  .actions {
    padding-top: 8px;
    padding-bottom: 8px;
    ion-col {
      button {
        height: auto;
        display: block;
        margin: 0 auto;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      p {
        text-align: center;
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }
  .button-container {
    button {
      max-width: 200px;
      height: auto;
      margin: 0 auto;
      padding: 0;
      display: block;
      margin-bottom: 8px;
    }
  }
}
