page-nearby {
  font-family: gillsansmt;
  .map-wrapper {
    height: 320px;
    #map {
      height: 100%;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
  }
  h1 {
    background-color: #3cacde;
    color: #addcf8;
    margin: 0;
    text-align: center;
    padding: 8px;
  }
  .nearby-list {
    ion-list {
      button[ion-item] {
        padding-left: 8px;
        &:first-child {
          border-top: none !important;
        }
        &:last-child {
          border-bottom: none !important;
        }
        div[item-left] {
          margin: 0;
        }
        ion-label {
          margin-top: 4px;
          margin-bottom: 4px;
          img {
            margin: 0;
          }
          h2 {
            color: #343432;
            letter-spacing: 1.2px;
            padding-left: 4px;
          }
          p {
            color: deepskyblue;
            padding-left: 8px;
          }
        }
      }
    }
  }
}
