<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goSearch()">
        <ion-icon name="arrow-back" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <!--<ion-buttons left>-->
    <!--<button ion-button menuToggle>-->
    <!--<ion-icon name="menu" class="hamburger"></ion-icon>-->
    <!--</button>-->
    <!--</ion-buttons>-->
    <ion-title>NEARBY</ion-title>
    <ion-buttons right>
      <button ion-button>
      </button>
    </ion-buttons>
    <!--<ion-buttons right>-->
    <!--<button ion-button (click)="goSettings()">-->
    <!--<img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">-->
    <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="map-wrapper" padding>
    <div id="tmpMap" style="height: 0px"></div>
    <div id="map" style="height: 100%"></div>
  </div>
  <h1>CATEGORIES</h1>
  <div class="nearby-list">
    <ion-list>
      <div *ngFor="let a of accordion; let idx = index;">
        <button ion-item detail-none (click)="searchNearby(a.search, idx)">
          <div item-left>
            <img [src]="a.leftImage" width="50">
          </div>
          <h2>{{ a.category }}</h2>
          <ion-icon name="{{ a.iconRight }}" style="color: #343432;" item-right></ion-icon>
        </button>
        <places *ngIf="a.toggle" [places]="places" [hasNextPage]="pagination.hasNextPage"
          (onLaunch)="launchNavigator($event)" (onVisibility)="markerVisible($event)" (onLoadMore)="loadMore($event)">
        </places>
      </div>
    </ion-list>
  </div>
  <!--<banner [bannerType]="'ad2'"></banner>-->
</ion-content>