<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>RINK INFO</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="upper">
    <h3>{{ rink.name | rinkname }}</h3>
    <h5>{{ rink.address }}</h5>
    <h5>{{ rink?.city }}, {{ rink?.state }}</h5>
  </div>
  <ion-grid class="actions">
    <ion-row>
      <ion-col width-33 style="border-right: 1px solid #666">
        <button ion-button clear (click)="call()">
          <img src="assets/img/rink-info/rink_info_call_icon.png" height="48">
        </button>
        <p>CALL</p>
      </ion-col>
      <ion-col width-33 style="border-right: 1px solid #666">
        <button ion-button clear (click)="web()">
          <img src="assets/img/rink-info/rink_info_web_icon.png" height="48">
        </button>
        <p>WEB</p>
      </ion-col>
      <ion-col width-33>
        <button ion-button clear (click)="map()">
          <img src="assets/img/rink-info/rink_info_map_icon.png" height="48">
        </button>
        <p>MAP</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<div class="rink-info">-->
  <!--<h1>Rink Information:</h1>-->
  <!--<p>{{ rink.description ? rink.description : 'No description just yet.' }}</p>-->
  <!--</div>-->
  <!--<div class="rink-photos">-->
  <!--<h1>Rink Photos:</h1>-->
  <!--<p>No photos just yet.</p>-->
  <!--</div>-->
  <div class="rink-manager">
    <h1>Rink Manager?</h1>
    <p>
      Provide us with information about your rink! Contact Rink Rater to edit & enhance your Rink Information (1st year
      is on us):
      <img src="assets/img/rink-info/rinkmgr_icon.png" width="50" (click)="openEmail()">
    </p>
    <ul>
      <li>Rink Description</li>
      <li>Add Hours</li>
      <li>Photos</li>
      <li>YouTube Videos</li>
      <li>Rink Advertisers</li>
    </ul>
  </div>
  <banner [ref]="'banners/rinkInfoDetail'"></banner>
</ion-content>