page-rink-info-details {
  font-family: gillsansmt;
  .upper {
    padding-top: 16px;
    padding-bottom: 16px;
    h3,
    h5 {
      margin: 0;
      color: #343432;
      text-align: center;
      padding-left: 16px;
      padding-right: 16px;
      img {
        vertical-align: middle;
      }
    }
  }
  .actions {
    padding-top: 8px;
    padding-bottom: 8px;
    ion-col {
      button {
        height: auto;
        display: block;
        margin: 0 auto;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      p {
        text-align: center;
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }
  .rink-info,
  .rink-photos,
  .rink-manager {
    margin-top: 16px;
    h1 {
      background-color: #3cacde;
      color: #addcf8;
      margin: 0;
      padding: 8px 16px 8px 16px;
    }
    p {
      margin: 0;
      font-size: 18px;
      color: #323232;
      padding: 16px 16px 0 16px;
      line-height: 1.3;
    }
  }
  .rink-manager {
    padding-bottom: 16px;
    p {
      padding-right: 82px;
      position: relative;
      img {
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
  }
}
