page-contact {
  font-family: gillsansmt;
  .who-you {
    h1 {
      background-color: #3cacde;
      color: #addcf8;
      padding: 16px;
      font-size: 36px;
      text-align: center;
      margin-top: -5px;
      margin-bottom: 0;
      @media only screen and (max-device-width: 320px) and (orientation: portrait) {
        font-size: 28px;
      }
    }
  }
  .help-container {
    padding-top: 64px;
    margin-bottom: 16px;
    background: url("../assets/img/contact/contact-us-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    ion-list {
      background-color: transparent;
      button[ion-item] {
        background-color: transparent;
        h2 {
          font-size: 24px;
          img {
            width: 150px;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .banner-container {
    margin-top: 16px;
  }
}
