<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>MY PROFILE</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="upper">
    <div class="bkgrnd" [ngStyle]="{'background-image':'url(' + user?.coverPhoto.src + ')'}">
    </div>
    <div class="profile-img" [ngStyle]="{'background-image':'url(' + user?.photo.src + ')'}"></div>
    <h2>{{ user?.fullName }}</h2>
    <h4>{{ user?.alias }}</h4>
  </div>
  <div class="profile-info">
    <h1>MY PROFILE SETTINGS</h1>
  </div>
  <div class="edit-content">
    <div class="form-container" padding>
      <profile-form #form [user]="user"></profile-form>
    </div>
    <div class="submit-container" padding>
      <button [disabled]="!form.valid" ion-button clear (click)="submit(form.value)">
        <img src="assets/img/profile-card/save_button.png" alt="">
      </button>
    </div>
    <banner [ref]="'banners/profile'"></banner>
  </div>
</ion-content>