page-profile-card {
  font-family: gillsansmt;
  ion-list.upper {
    margin-bottom: 0 !important;
    ion-item {
      background: url("../assets/img/common/hockey_profile_ice_bckgrd.jpg");
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: cover;
      &:first-child {
        border-top: none !important;
      }
      &:last-child {
        border-bottom: none !important;
      }
      .profile-img {
        display: block;
        margin: 0 auto;
        width: 108px;
        height: 108px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      h2 {
        font-size: 2.4rem !important;
      }
      h4 {
        font-size: 2rem !important;
      }
      h2,
      h4 {
        text-align: center;
        color: #333;
      }
    }
  }
  .card-content {
    padding-bottom: 8px;
    background: url("../assets/img/profile-card/hockeyparent_bkgrd_image.jpg");
    background-position: center 55px;
    background-repeat: no-repeat;
    background-size: cover;
    .profile-info {
      h1 {
        background-color: #3cacde;
        color: #addcf8;
        margin: 0;
        padding: 8px 16px 8px 16px;
        text-align: center;
      }
    }
    .hockey-life-title {
      text-align: center;
      color: #666;
      margin-top: 32px;
    }
    .form-container {
      padding-left: 32px;
      padding-right: 32px;
      .card-label {
        margin-bottom: 4px;
      }
      input {
        background-color: #eee;
        padding: 4px 8px 16px 4px;
        width: 100%;
        font-size: 12px;
        border: 0;
        margin-bottom: 4px;
      }
    }
    .submit-container {
      button {
        max-width: 200px;
        height: auto !important;
        margin: 0 auto;
        padding: 0;
        display: block;
      }
    }
  }
  //.review-list {
  //    ion-list {
  //        margin-top: 8px;
  //        button[ion-item] {
  //            padding-left: 8px;
  //            &:first-child {
  //                border-top: none !important;
  //            }
  //            &:last-child {
  //                border-bottom: none !important;
  //            }
  //            div[item-left] {
  //                margin: 0;
  //            }
  //            ion-label {
  //                margin-top: 0;
  //                margin-bottom: 0;
  //                img {
  //                    margin: 0;
  //                }
  //                h2 {
  //                    color: #343432;
  //                    letter-spacing: 1.2px;
  //                    padding-left: 8px;
  //                }
  //                p {
  //                    color: deepskyblue;
  //                    padding-left: 4px;
  //                }
  //            }
  //        }
  //    }
  //}
  .social-container {
    margin-bottom: 16px;
  }
}
