page-settings {
  font-family: gillsansmt;
  .upper {
    position: relative;
    padding-top: 168px;
    .bkgrnd {
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 240px;
      z-index: 1px;
      button {
        position: absolute;
        right: 4px;
        bottom: 22px;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        img {
          width: 32px;
        }
      }
    }
    .profile-img {
      display: block;
      margin: 0 auto;
      width: 108px;
      height: 108px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      img {
        position: absolute;
        right: -28px;
        top: 64px;
        width: 32px;
      }
    }
    h2,
    h4 {
      margin-bottom: 8px;
      text-align: center;
      color: #333333;
    }
    h2 {
      color: #3cacde;
    }
    h4 {
      margin: 0;
    }
  }
  .profile-info {
    margin-top: 16px;
    h1 {
      background-color: #3cacde;
      color: #addcf8;
      margin: 0;
      padding: 8px 16px 8px 16px;
      text-align: center;
    }
  }
  .profile-list {
    ion-list {
      margin-top: 8px;
      button[ion-item] {
        padding-left: 8px;
        &:first-child {
          border-top: none !important;
        }
        &:last-child {
          border-bottom: none !important;
        }
        div[item-left] {
          margin: 0;
        }
        ion-label {
          margin-top: 0;
          margin-bottom: 0;
          img {
            margin: 0;
          }
          h2 {
            color: #343432;
            letter-spacing: 1.2px;
            padding-left: 8px;
          }
          p {
            color: deepskyblue;
            padding-left: 4px;
          }
        }
      }
    }
  }
}
