<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goSearch()">
        <ion-icon name="arrow-back" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <!--<ion-buttons left>-->
    <!--<button ion-button menuToggle>-->
    <!--<ion-icon name="menu" class="hamburger"></ion-icon>-->
    <!--</button>-->
    <!--</ion-buttons>-->
    <ion-title>MY PROFILE</ion-title>
    <ion-buttons right>
      <button class="placeholder-button">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="upper">
    <div class="bkgrnd" [ngStyle]="{'background-image':'url(' + user?.coverPhoto.src + ')'}">
      <button ion-button clear (click)="takePhoto('coverPhoto')">
        <img src="assets/img/profile-photo/camera_icon.png">
      </button>
    </div>
    <div class="profile-img" [ngStyle]="{'background-image':'url(' + user?.photo.src + ')'}">
      <img src="assets/img/profile-photo/camera_icon.png" (click)="takePhoto('photo')">
    </div>
    <h2>{{ user?.fullName }}</h2>
    <h4>{{ user?.alias }}</h4>
  </div>
  <div class="profile-info">
    <h1>MY PROFILE</h1>
  </div>
  <div class="profile-list">
    <ion-list>
      <button ion-item detail-none (click)="moveTo('profile')">
        <div item-left>
          <img src="assets/img/profile/profile_pro_settings_icon.png" width="50">
        </div>
        <h2>PROFILE SETTINGS</h2>
        <div item-right>
          <ion-icon name="add" style="color: #343432;"></ion-icon>
        </div>
      </button>
      <!--<button ion-item detail-none (click)="moveTo('profile-card')">-->
      <!--<div item-left>-->
      <!--<img src="assets/img/profile/profile_pro_badge_icon.png" width="50">-->
      <!--</div>-->
      <!--<h2>HOCKEY PARENT CARD</h2>-->
      <!--<div item-right>-->
      <!--<ion-icon name="add" style="color: #343432;"></ion-icon>-->
      <!--</div>-->
      <!--</button>-->
      <button ion-item detail-none (click)="moveTo('profile-photos')">
        <div item-left>
          <img src="assets/img/profile/profile_pro_photos_icon.png" width="50">
        </div>
        <h2>HOCKEY PHOTOS</h2>
        <div item-right>
          <ion-icon name="add" style="color: #343432;"></ion-icon>
        </div>
      </button>
      <button ion-item detail-none (click)="moveTo('profile-reviews')">
        <div item-left>
          <img src="assets/img/profile/profile_pro_reviews_icon.png" width="50">
        </div>
        <h2>MY RINK REVIEWS</h2>
        <div item-right>
          <ion-icon name="add" style="color: #343432;"></ion-icon>
        </div>
      </button>
      <button ion-item detail-none (click)="moveTo('profile-favorites')">
        <div item-left>
          <img src="assets/img/profile/profile_pro_favrinks_icon.png" width="50">
        </div>
        <h2>FAVORITE RINKS</h2>
        <div item-right>
          <ion-icon name="add" style="color: #343432;"></ion-icon>
        </div>
      </button>
    </ion-list>
  </div>
  <social></social>
  <banner [ref]="'banners/profile'"></banner>
  <!--<div padding>-->
  <!--<button ion-button color="secondary" block (click)="logout()">Log Out</button>-->
  <!--</div>-->
</ion-content>