page-search {
  background: url("../assets/img/search/find_rink_background_image.jpg");
  background-position: center center;
  background-repeat: repeat-y !important;
  background-size: cover;
  ion-content {
    background-color: transparent !important;
    .search-background {
      font-family: gillsansmt;
      .small {
        font-size: 12px;
      }
      .upper {
        height: 288px;
        border-bottom: 1px solid #ccc;
        position: relative;
        @media only screen and (max-device-width: 320px) and (orientation: portrait) {
          height: 208px;
        }
        .hockey-rankings {
          position: absolute;
          top: 124px;
          right: 16px;
          @media only screen and (max-device-width: 320px) and (orientation: portrait) {
            top: 90px;
          }
          p {
            text-align: right;
            margin: 0 11px 0 0;
          }
          img {
            margin: -5px !important;
            width: 112px;
            @media only screen and (max-device-width: 320px) and (orientation: portrait) {
              width: 126px;
            }
          }
        }
        .logo-opacity60 {
          position: absolute;
          width: 170px;
          top: 0;
          right: 8px;
          z-index: 999;
          @media only screen and (max-device-width: 320px) and (orientation: portrait) {
            width: 124px;
          }
        }
        .character {
          position: absolute;
          width: 278px;
          @media only screen and (max-device-width: 320px) and (orientation: portrait) {
            width: 186px;
          }
        }
        .searchbar-ios {
          background: transparent;
          border-bottom: none;
          min-height: inherit;
        }
        .search-input-container {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 8px;
          ion-searchbar {
            padding: 0;
            .searchbar-search-icon {
              position: absolute;
              right: 35px;
              left: auto;
            }
            input {
              font-family: architectsdaughter;
              font-size: 20px;
              background-color: rgba(255, 255, 255, 0.6);
            }
          }
        }
        .android-form {
          .search-input-container {
            .searchbar-search-icon {
              top: 6px;
              position: absolute;
              right: 35px;
              left: auto;
            }
            .searchbar-input {
              padding-top: 0;
              padding-bottom: 0;
            }
          }
        }
        .search-list {
          position: absolute;
          width: 100%;
          top: 280px;
          z-index: 9999999;
          padding-left: 8px;
          padding-right: 8px;
          max-height: 265px;
          overflow-y: scroll;
          @media only screen and (max-device-width: 320px) and (orientation: portrait) {
            top: 200px;
          }
          ion-list {
            font-family: architectsdaughter;
            .load-more {
              text-align: center;
              font-weight: bold;
              ion-spinner {
                vertical-align: bottom;
              }
            }
          }
        }
      }
      .slides {
        ion-slides {
          background-color: rgba(255, 255, 255, 0.5);
          font-family: architectsdaughter;
          margin-top: 0;
          height: auto;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          .swiper-pagination-bullet {
            background: #d4172d;
          }
          ion-slide {
            h4 {
              margin-top: 8px;
              margin-bottom: 24px;
            }
          }
          .swiper-pagination {
            bottom: 0;
          }
        }
      }
      .buttons {
        ion-grid {
          button {
            height: auto;
            margin: 0 auto;
            padding: 0;
            display: block;
          }
        }
      }
    }
  }
}
