page-partners {
  font-family: gillsansmt;

  .header-description {
    font-size: 21px;
    letter-spacing: 1.1px;
    text-align: center;
    margin: 0;
    padding: 20px 20px 48px 20px;
    background: url("../assets/img/add-review/add_review_bkgrnd_photo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .to-be-partner,
  .our-partners {
    p {
      text-align: center;
      color: #3cacde;
      font-size: 16px;
      letter-spacing: 1.1px;
      font-weight: bold;
      margin-bottom: 8px;
      &.featured,
      &.partners {
        margin-bottom: 0;
        span {
          color: #addcf8;
          background-color: #3cacde;
          padding: 8px 16px;
          width: 248px;
          display: inline-block;
        }
      }
    }
    img {
      display: block;
      margin: 0 auto;
      width: 48px;
    }
  }
  .partner-list {
    ion-list {
      margin-top: 0;
      .partner-list-wrapper {
        border-bottom: 0.55px solid #c8c7cc !important;
        &:first-child {
          border-top: 0.55px solid #c8c7cc !important;
        }
        button[ion-item] {
          padding-left: 8px;
          border-bottom: 0.55px solid #c8c7cc !important;
          &:first-child {
            border-top: none !important;
          }
          &:last-child {
            border-bottom: none !important;
          }
          div[item-left] {
            margin: 0;
          }
          .item-inner {
            border-bottom: none;
            ion-label {
              margin-top: 0;
              margin-bottom: 0;
              img {
                margin: 0;
              }
              h2 {
                color: #343432;
                letter-spacing: 1.2px;
                padding-left: 8px;
              }
              p {
                color: deepskyblue;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }
  }
  .social-container {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
