<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goSearch()">
        <ion-icon name="arrow-back" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <!--<ion-buttons left>-->
    <!--<button ion-button menuToggle>-->
    <!--<ion-icon name="menu" class="hamburger"></ion-icon>-->
    <!--</button>-->
    <!--</ion-buttons>-->
    <ion-title>OUR PARTNERS</ion-title>
    <ion-buttons right>
      <button ion-button>
      </button>
      <!--<button ion-button (click)="onNavigateSettings()">-->
      <!--<img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">-->
      <!--</button>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- Header Description with Background Image -->
  <h1 padding class="header-description">Rink Rater has joined with
    these incredible companies,
    camps / clinics / products
    and Hockey specific Services.</h1>

  <!-- To Be Partner Section -->
  <section class="to-be-partner">
    <p>WANT TO BE A PARTNER?<br> TAP HERE TO CONTACT US</p>
    <img src="assets/img/rink-info/rinkmgr_icon.png" (click)="onAccessEmail()">
    <p class="featured"><span>FEATURED PARTNER:</span></p>
  </section>

  <!-- Featured Partner List -->
  <div class="partner-list">
    <partner-list [query]="'featured_partner'"></partner-list>
    <!--<ion-list>-->
    <!--<div class="partner-list-wrapper">-->
    <!--<button ion-item detail-none>-->
    <!--<div item-left>-->
    <!--<img src="assets/img/partners/hockey_silouette_blue.png" width="50">-->
    <!--</div>-->
    <!--<h2>MY HOCKEY RANKINGS</h2>-->
    <!--<div item-right>-->
    <!--<ion-icon name="add" style="color: #343432;"></ion-icon>-->
    <!--</div>-->
    <!--</button>-->
    <!--</div>-->
    <!--</ion-list>-->
  </div>

  <!-- Our Partners Section -->
  <section class="our-partners">
    <p class="partners"><span>OUR PARTNERS:</span></p>
  </section>

  <!-- Partner List -->
  <div class="partner-list">
    <ion-list>
      <div *ngFor="let a of accordion; let idx = index;" class="partner-list-wrapper">
        <button ion-item detail-none (click)="onToggle(idx)">
          <div item-left>
            <img src="assets/img/partners/hockey_silouette_blue.png" width="50">
          </div>
          <h2>{{ a.category }}</h2>
          <div item-right>
            <ion-icon name="{{ a.iconRight }}" style="color: #343432;"></ion-icon>
          </div>
        </button>
        <partner-list *ngIf="a.toggle" [query]="a.query"></partner-list>
      </div>
    </ion-list>
  </div>
  <banner [ref]="'banners/partners/top'"></banner>
  <div class="social-container">
    <social [hasFollow]="false"></social>
  </div>
  <banner [ref]="'banners/partners/bottom'"></banner>
</ion-content>