<ion-header>
  <ion-navbar>
      <ion-buttons left>
          <button ion-button icon-only (click)="goSearch()">
              <ion-icon name="arrow-back" class="hamburger"></ion-icon>
          </button>
      </ion-buttons>
      <!--<ion-buttons left>-->
          <!--<button ion-button menuToggle>-->
              <!--<ion-icon name="menu" class="hamburger"></ion-icon>-->
          <!--</button>-->
      <!--</ion-buttons>-->
      <ion-title>ABOUT US</ion-title>
      <ion-buttons right>
          <button ion-button (click)="onNavigateSettings()">
              <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="assets/img/about/aboutus_header_withlogo.jpg" class="rink-rater-logo">
  <h3 class="what" (click)="onToggle(0)">{{ accordion[0].header }}
      <ion-icon name="{{ accordion[0].iconRight }}"></ion-icon>
  </h3>
  <p style="white-space: pre-line" *ngIf="accordion[0].toggle">{{ (about | async)?.whatIsRinkRater }}</p>
  <h3 class="what" (click)="onToggle(1)">{{ accordion[1].header }}
      <ion-icon name="{{ accordion[1].iconRight }}"></ion-icon>
  </h3>
  <img src="assets/img/about/our_skaters.jpg" class="our-skaters" *ngIf="accordion[1].toggle">
  <p style="white-space: pre-line" *ngIf="accordion[1].toggle">{{ (about | async)?.whoAreWe }}</p>
  <h3 class="what" (click)="onToggle(2)">{{ accordion[2].header }}
      <ion-icon name="{{ accordion[2].iconRight }}"></ion-icon>
  </h3>
  <p style="white-space: pre-line" *ngIf="accordion[2].toggle">{{ (about | async)?.rinkRateProShop }}</p>
  <!--<banner [banners]="banners" [ref]=""></banner>-->
  <div class="social-background">
      <social></social>
  </div>
</ion-content>