page-profile-reviews {
  font-family: gillsansmt;
  .upper {
    position: relative;
    padding-top: 168px;
    .bkgrnd {
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 240px;
      z-index: -1;
    }
    .profile-img {
      display: block;
      margin: 0 auto;
      width: 108px;
      height: 108px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    h2,
    h4 {
      margin-bottom: 8px;
      text-align: center;
      color: #333333;
    }
    h2 {
      color: #3cacde;
    }
    h4 {
      margin: 0;
    }
  }
  .profile-info {
    h1 {
      background-color: #3cacde;
      color: #addcf8;
      margin-top: 16px;
      padding: 8px 16px 8px 16px;
      text-align: center;
    }
  }
  .review-list {
    ion-list {
      margin-top: 8px;
      button[ion-item] {
        padding-left: 8px;
        border-bottom: 0.55px solid #c8c7cc !important;
        &:first-child {
          border-top: none !important;
        }
        &:last-child {
          border-bottom: none !important;
        }
        div[item-left] {
          margin: 0;
        }
        .item-inner {
          border-bottom: none;
          ion-label {
            margin-top: 0;
            margin-bottom: 0;
            img {
              margin: 0;
            }
            h2 {
              color: #343432;
              letter-spacing: 1.2px;
              padding-left: 8px;
            }
            p {
              color: deepskyblue;
              padding-left: 4px;
            }
          }
        }
      }
      ion-list {
        ion-item {
          align-items: baseline;
          padding-left: 0;

          &:first-child {
            border-top: none !important;
          }
          &:last-child {
            border-bottom: none !important;
          }
          b {
            margin-left: 8px;
          }
          .item-inner {
            padding-right: 32px !important;
            padding-left: 32px;
            ion-label {
              margin: 0;
              padding-top: 16px;
              padding-bottom: 16px;
              border-bottom: 0.55px solid #c8c7cc;
              h2,
              h3 {
                margin-bottom: 8px;
              }
              h2,
              .rating-container {
                color: #353535;
                position: relative;
                .edit {
                  position: absolute;
                  right: -20px;
                  top: -7px;
                }
              }
              h3 {
                color: #9e9e9e;
              }
            }
          }

          //.item-right {
          //    button {
          //        height: auto;
          //        display: block;
          //        margin: 0 auto;
          //        img {
          //            display: block;
          //            margin: 0 auto;
          //        }
          //    }
          //}
        }
      }
    }
  }
  .social-container {
    margin-bottom: 16px;
  }
}
