<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>MY PROFILE</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="upper">
    <div class="bkgrnd" [ngStyle]="{'background-image':'url(' + user?.coverPhoto.src + ')'}">
    </div>
    <div class="profile-img" [ngStyle]="{'background-image':'url(' + user?.photo.src + ')'}"></div>
    <h2>{{ user?.fullName }}</h2>
    <h4>{{ user?.alias }}</h4>
  </div>
  <div class="profile-info">
    <h1>MY RINK REVIEWS</h1>
  </div>
  <div class="review-list">
    <ion-list>
      <div *ngFor="let rpr of reviewsPerRink; let idx = index;">
        <button ion-item detail-none text-wrap (click)="toggle(idx)"
          style="border-bottom: 0.55px solid #c8c7cc !important;">
          <div item-left detail-none>
            <img src="assets/img/profile/profile_pro_reviews_icon.png" width="50">
          </div>
          <rink-name [rinkId]="rpr.key"></rink-name>
          <div item-right>
            <ion-icon name="{{ rpr.iconRight }}" style="color: #343432;"></ion-icon>
          </div>
        </button>
        <ion-list *ngIf="rpr.toggle" no-lines>
          <puck-preview [rinkId]="rpr.key" [userId]="user.$key"></puck-preview>
          <ion-item detail-none text-wrap *ngFor="let review of rpr.reviews">
            <h2>
              {{ review.category }}:
              <button ion-button clear (click)="goReview(review)" class="edit">
                <img src="assets/img/profile-review/proifle_rinkreviews_edit_button.png" width="43">
              </button>
            </h2>
            <h3>{{ review.comment }}</h3>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </div>
  <div class="social-container">
    <social [hasFollow]="false" [hasRate]="false" [shareTitle]="'SHARE YOUR STORY!'"></social>
  </div>
  <banner [ref]="'banners/profile'"></banner>
</ion-content>