<ion-content>
  <div class="main-container">
      <div class="img-container">
          <img src="assets/img/main/login_rink_rater_logo.png" alt="placeholder-image" class="rink-rater-logo">
      </div>
      <ion-slides [options]="slideOptions">
          <ion-slides [options]="slideOptions">
              <ion-slide>
                  <h4>"Is there a Pro Shop?"</h4>
              </ion-slide>
              <ion-slide>
                  <h4>"How cold is it?!"</h4>
              </ion-slide>
              <ion-slide>
                  <h4>"Is there Skate Sharpening?"</h4>
              </ion-slide>
              <ion-slide>
                  <h4>"Closest Coffee Shop?"</h4>
              </ion-slide>
              <ion-slide>
                  <h4>"Is there Wi-Fi?"</h4>
              </ion-slide>
              <ion-slide>
                  <h4>"Are there Concessions?"</h4>
              </ion-slide>
          </ion-slides>
      </ion-slides>
      <div class="button-container" padding>
          <button ion-button clear (click)="authRedirect('login')">
              <img src="assets/img/main/login_email_button.png" alt="">
          </button>
          <button ion-button clear (click)="facebookLogin()">
              <img src="assets/img/main/login_facebook_button.png" alt="">
          </button>
          <button ion-button clear (click)="twitterLogin()">
              <img src="assets/img/main/login_twitter_button.png" alt="">
          </button>
          <p class="no-account">
              <a>Don't have an account yet?</a>
          </p>
          <button ion-button clear (click)="authRedirect('register')">
              <img src="assets/img/main/login_create_account_button.png" alt="">
          </button>
          <p class="privacy">
              <span (click)="openInAppBrowser('privacy')">Privacy</span> | <span (click)="openInAppBrowser('tos')">Terms of Service</span>
          </p>
      </div>
  </div>
</ion-content>