page-main {
  background: url("../assets/img/main/login_page_bkgrnd_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  ion-content {
    background-color: transparent !important;
    .main-container {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      display: flex;
      .img-container {
        max-width: 320px;
        display: block;
        margin: 0 auto;
        @media only screen and (max-device-width: 320px) and (orientation: portrait) {
          max-width: 280px;
        }
        .rink-rater-logo {
          width: 100%;
          height: auto;
        }
      }

      ion-slides {
        background-color: rgba(255, 255, 255, 0.5);
        font-family: architectsdaughter;
        height: auto;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        .swiper-pagination-bullet {
          background: #d4172d;
        }
        ion-slide {
          h4 {
            margin-bottom: 32px;
          }
        }
        .swiper-pagination {
          bottom: 0;
        }
      }
      .button-container {
        button {
          max-width: 320px;
          height: auto;
          margin: 0 auto;
          padding: 0;
          display: block;
          margin-bottom: 8px;
          @media only screen and (max-device-width: 320px) and (orientation: portrait) {
            max-width: 280px;
          }
        }
        .no-account,
        .privacy {
          font-family: gillsansmt;
          margin-bottom: 4px;
          text-align: center;
          margin-top: 36px;
          a,
          button {
            color: #393835;
            font-size: 18px;
            text-decoration: none;
          }
        }
        .privacy {
          margin-top: 8px;
          font-size: 16px;
          color: #393835;
          cursor: pointer;
        }
      }
    }
  }
}
