<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>MY PROFILE</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="upper">
    <div class="bkgrnd" [ngStyle]="{'background-image':'url(' + user?.coverPhoto.src + ')'}">
    </div>
    <div class="profile-img" [ngStyle]="{'background-image':'url(' + user?.photo.src + ')'}"></div>
    <h2>{{ user?.fullName }}</h2>
    <h4>{{ user?.alias }}</h4>
  </div>
  <div class="profile-info">
    <h1>MY FAVORITE RINKS</h1>
  </div>
  <div class="review-list">
    <h2 *ngIf="!rinks" class="no-rink">
      No favorite rink just yet.
    </h2>
    <ion-list *ngIf="rinks">
      <div *ngFor="let rink of rinks; let idx = index;">
        <button ion-item detail-none (click)="toggle(idx)">
          <div item-left>
            <img src="assets/img/profile/profile_pro_favrinks_icon.png" width="50">
          </div>
          <h2>{{ rink.name | rinkname }}</h2>
          <div item-right>
            <ion-icon name="{{ accordion[idx].iconRight }}" style="color: #343432;"></ion-icon>
          </div>
        </button>
        <ion-list no-lines *ngIf="accordion[idx].toggle">
          <ion-grid class="actions">
            <ion-row>
              <ion-col width-25 style="border-right: 1px solid #666">
                <button ion-button clear (click)="call(rink)" [disabled]="!rink.phone">
                  <img src="assets/img/rink-info/rink_info_call_icon.png" height="48">
                </button>
                <p>CALL</p>
              </ion-col>
              <ion-col width-25 style="border-right: 1px solid #666">
                <button ion-button clear (click)="web(rink)" [disabled]="!rink.website">
                  <img src="assets/img/rink-info/rink_info_web_icon.png" height="48">
                </button>
                <p>WEB</p>
              </ion-col>
              <ion-col width-25 style="border-right: 1px solid #666">
                <button ion-button clear (click)="goInfoDetails(rink)">
                  <img src="assets/img/rink-info/rink_info_info_icon.png" height="48">
                </button>
                <p>INFO</p>
              </ion-col>
              <ion-col width-25>
                <button ion-button clear (click)="map(rink)">
                  <img src="assets/img/rink-info/rink_info_map_icon.png" height="48">
                </button>
                <p>MAP</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </div>
    </ion-list>
  </div>
  <div class="social-container">
    <social [hasFollow]="false" [hasRate]="true" [shareTitle]="'SHARE YOUR STORY!'"></social>
  </div>
  <banner [ref]="'banners/profile'"></banner>
</ion-content>